<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" 
	  internalLogFile="c:\temp\nlog-internal2.log">

	<!--targets>
		<target xsi:type="File" name="logfile" fileName="C:\temp\mylog.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${event-properties:item=correlation_id}|${event-properties:item=span_id}" />
	</targets-->
	
	<targets>
		<target xsi:type="Console" 
				name="console" 
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring} ${event-properties:item=correlation_id}|${event-properties:item=span_id}" />
		
		<target xsi:type="Debugger" name="debug" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

		<target xsi:type="File" name="file"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring} | correlation=${event-properties:item=correlation_id}| span=${event-properties:item=span_id}"
				fileName="C:\temp\authentication.service.log" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="debug" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
	
</nlog>
